#mastfoot {
    padding: 70px 20px;
    margin-top: 10px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
    .bd {
        .link {
            float: left;
        }
        img {
            float: right;
        }
    }
}
