#masthead {
    padding: 12px 20px;
    background: #31033E url(/assets/bg_masthead.png) 100% 0 no-repeat;
    .title a {
        letter-spacing: 1px;
        color: #fff;
        font-size: 197%;
        font-weight: bold;
        float: left;
    }
}
