#software {
    width: 800px;
    margin: 30px auto;
    min-height: 350px;
    h1 {
        font-size: 36px;
        font-weight: bold;
        color: #333;
        margin: 0 0 20px;
    }
    ul {
        margin-left: 30px;
        li {
            color: #333;
            font-size: 123.1%;
            line-height: 1.5;
            list-style-type: disc;
            margin: 0 0 5px;
        }
    }
}
