@import "compass";
@import "masthead";
@import "nav";
@import "relate_link";
@import "slide";
@import "software";
@import "mastfoot";

body {
    background: #f8f8f8 url(/assets/noise.png);
    font-family: "Hiragino Maru Gothic Pro W4", "冬青黑體簡體中文", "微軟正黑體";
    color: #000;
    #doc3 {
        margin: 0;
    }
}
.clearfix {
    zoom: 1;
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}
a {
    &:link, &:visited {
        color: #08c;
        text-decoration: none;
    }
    &:hover {
        color: #f30;
        text-decoration: none;
    }
}
#hd {
    position: relative;
    z-index: 1;
}
#bd {
    position: relative;
    z-index: 0;
}
