/* Basic Sprite Version */
/* line 3, ../sass/basic-sprite.scss */
#media {
    background: pink;
    width: 500px;
}
/* line 6, ../sass/basic-sprite.scss */
#media li {
    height: 40px;
    line-height: 40px;
}
/* line 9, ../sass/basic-sprite.scss */
#media li span {
    height: 40px;
    width: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../images/sp_ico_media.png);
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#media li span {
    *display: inline;
}
/* line 18, ../sass/basic-sprite.scss */
#media li.photos span {
    background-position: 0 -80px;
}
