/* line 1, ../sass/accordion.scss */
.yui3-accordion {
    position: relative;
    zoom: 1;
}
/* line 4, ../sass/accordion.scss */
.yui3-accordion .yui3-accordion-item {
    display: block;
}
/* line 6, ../sass/accordion.scss */
.yui3-accordion .yui3-accordion-item .yui3-accordion-item-bd {
    height: 0;
    _height: 1px;
    *height: 1px;
    overflow: hidden;
    zoom: 1;
}
/* line 14, ../sass/accordion.scss */
.yui3-accordion .yui3-accordion-item-active .yui3-accordion-item-bd {
    height: auto;
}

/* line 19, ../sass/accordion.scss */
.yui3-skin-sam .yui3-accordion {
    text-align: left;
}
/* line 21, ../sass/accordion.scss */
.yui3-skin-sam .yui3-accordion .yui3-accordion-item {
    display: block;
}
/* line 23, ../sass/accordion.scss */
.yui3-skin-sam .yui3-accordion .yui3-accordion-item .yui3-accordion-item-hd {
    line-height: 2;
    *line-height: 1.9;
}
/* line 27, ../sass/accordion.scss */
.yui3-skin-sam .yui3-accordion .yui3-accordion-item .yui3-accordion-item-bd {
    display: block;
}
/* line 32, ../sass/accordion.scss */
.yui3-skin-sam .yui3-accordion .yui3-accordion-item-active .yui3-accordion-item-trigger a:link, .yui3-skin-sam .yui3-accordion .yui3-accordion-item-active .yui3-accordion-item-trigger a:hover {
    background: #08c !important;
    color: #fff !important;
}
