/* line 1, ../sass/_masthead.scss */
#masthead {
    padding: 12px 20px;
    background: #31033e url(/assets/bg_masthead.png) 100% 0 no-repeat;
}
/* line 4, ../sass/_masthead.scss */
#masthead .title a {
    letter-spacing: 1px;
    color: #fff;
    font-size: 197%;
    font-weight: bold;
    float: left;
}

/* line 1, ../sass/_nav.scss */
#nav {
    margin: 0 0 10px;
}
/* line 3, ../sass/_nav.scss */
#nav li a {
    font-size: 123.1%;
    padding: 4px 30px;
}

/* line 1, ../sass/_relate_link.scss */
#relate-link {
    margin: 25px 5px 10px 15px;
}
/* line 3, ../sass/_relate_link.scss */
#relate-link .mod-content {
    position: relative;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    z-index: 2;
}
/* line 10, ../sass/_relate_link.scss */
#relate-link .hd {
    position: absolute;
    top: -1000em;
    left: -1000em;
}
/* line 15, ../sass/_relate_link.scss */
#relate-link .bd > .yui3-accordion-item:first-child h3 > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
/* line 20, ../sass/_relate_link.scss */
#relate-link .bd h3 a {
    border: 1px solid #E5E5E5;
    font-size: 123.1%;
    font-family: 'PT Sans','DejaVu Sans','Bitstream Vera Sans',Verdana,sans-serif;
    letter-spacing: 1px;
    display: block;
    padding: 8px 14px;
    margin: 0 0 -1px;
}
/* line 28, ../sass/_relate_link.scss */
#relate-link .bd h3 a:hover {
    color: #369;
    background-color: #F7F7F9;
}
/* line 34, ../sass/_relate_link.scss */
#relate-link .bd ul {
    border: 1px solid #E5E5E5;
    margin: 0 0 -1px;
    padding: 5px 0 0;
}
/* line 38, ../sass/_relate_link.scss */
#relate-link .bd ul li {
    background: url(http://l.yimg.com/us.js.yimg.com/lib/ks/tw/i8/generic_dot.gif) left center no-repeat;
    color: #cccccc;
    padding-left: 15px;
    padding-bottom: 3px;
    margin-bottom: 3px;
}
/* line 44, ../sass/_relate_link.scss */
#relate-link .bd ul li span {
  /*display:none;*/
}
/* line 47, ../sass/_relate_link.scss */
#relate-link .bd ul li.last {
    border: none;
}

/* line 55, ../sass/_relate_link.scss */
.yui3-accordion-item-active .yui3-accordion-item-trigger a:link, .yui3-accordion-item-active .yui3-accordion-item-trigger a:hover {
    background: #08c !important;
    color: #fff !important;
}

/* line 1, ../sass/_slide.scss */
#slide {
    margin: 15px 0;
}
/* line 3, ../sass/_slide.scss */
#slide .hd {
    position: absolute;
    top: -1000em;
    left: -1000em;
}
/* line 8, ../sass/_slide.scss */
#slide .bd {
    text-align: center;
}
/* line 11, ../sass/_slide.scss */
#slide .bd .player iframe {
    width: 597px;
    height: 486px;
    border: none;
    margin: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 0 5px;
}
/* line 20, ../sass/_slide.scss */
#slide .bd .player .info {
    margin: 0 0 5px;
}
/* line 25, ../sass/_slide.scss */
#slide .ft {
    margin: 30px 20px 10px;
    text-align: right;
}
/* line 28, ../sass/_slide.scss */
#slide .ft span {
    background: url(http://l.yimg.com/tw.yimg.com/i/tw/movie/i6/icon_more.gif) left top no-repeat;
}
/* line 31, ../sass/_slide.scss */
#slide .ft a {
    padding-left: 20px;
}

/* line 1, ../sass/_software.scss */
#software {
    width: 800px;
    margin: 30px auto;
    min-height: 350px;
}
/* line 5, ../sass/_software.scss */
#software h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin: 0 0 20px;
}
/* line 11, ../sass/_software.scss */
#software ul {
    margin-left: 30px;
}
/* line 13, ../sass/_software.scss */
#software ul li {
    color: #333;
    font-size: 123.1%;
    line-height: 1.5;
    list-style-type: disc;
    margin: 0 0 5px;
}

/* line 1, ../sass/_mastfoot.scss */
#mastfoot {
    padding: 70px 20px;
    margin-top: 10px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}
/* line 7, ../sass/_mastfoot.scss */
#mastfoot .bd .link {
    float: left;
}
/* line 10, ../sass/_mastfoot.scss */
#mastfoot .bd img {
    float: right;
}

/* line 9, ../sass/class.scss */
body {
    background: #f8f8f8 url(/assets/noise.png);
    font-family: "Hiragino Maru Gothic Pro W4", "冬青黑體簡體中文", "微軟正黑體";
    color: #000;
}
/* line 13, ../sass/class.scss */
body #doc3 {
    margin: 0;
}

/* line 17, ../sass/class.scss */
.clearfix {
    zoom: 1;
}
/* line 19, ../sass/class.scss */
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

/* line 26, ../sass/class.scss */
a:link, a:visited {
    color: #08c;
    text-decoration: none;
}
/* line 30, ../sass/class.scss */
a:hover {
    color: #f30;
    text-decoration: none;
}

/* line 35, ../sass/class.scss */
#hd {
    position: relative;
    z-index: 1;
}

/* line 39, ../sass/class.scss */
#bd {
    position: relative;
    z-index: 0;
}
